CompileFlags:
  CompilationDatabase: build
  Add: [ -std=c++26, -Wno-binding-in-condition ]
  Remove: [ -fdeps-format=*, -fmodule-mapper=*, -fmodules-ts ]

Diagnostics:
  ClangTidy:
    UseBuildDir: Yes
